
		body {
			font-family: monospace;
			background-image: url(/fs/oldskool.png);
			background-repeat: repeat;
			background-color: #FFF;
			font-color: #000;
		}
		p.irc {
			margin-bottom: 3px;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 3px;
			word-break: break-all;
		}
		.alert {
			color: #f00;
			font-weight: bold;
		}
		.important {
			font-weight: bold;
		}
		.irclink {
			color: #88e;
			font-weight: bold;
		}
		.terminalContainer {
			font-size: 12px;
			height: 40em;
			padding: 0 auto;
			width: 80em;
		}
		.visibleConsole {
			background-color: #fff;
			border: 1px solid black;
			color: #000;
			height: 40em;
			padding: 0 auto;
			width: 100%;
			font-size: 12px;
			overflow-y: scroll;
			overflow-x: auto;
		}
		.channelConsole {
			background-color: #fff;
			border: 1px solid black;
			color: #000;
			height: 100%;
			padding: 0 auto;
			width: 100%;
			font-size: 12px;
			overflow-y: auto;
			overflow-x: auto;
		}		
		.channel {
			background-color: #fff;
			border-right: 1% dashed black;
			color: #000;
			height: 40em;
			padding: 0 auto;
			width: 80%;
			font-size: 12px;
			overflow-y: scroll;
			overflow-x: auto;

			display: inline-block;
			vertical-align: top;
		}
		.userlist {
			background-color: #fff;
			color: #000;
			height: 40em;
			width: 20%;
			padding: 0 auto;
			font-size: 12px;
			overflow-y: auto;
			overflow-x: auto;
			
			display: inline-block;
			vertical-align: top;
		}
		.userInUserlist {
			padding-left: 1em;
			padding-right: 1em;
			padding-top: 3px;
			padding-bottom: 3px;
			font-size: 12px;
			cursor: pointer;
		}
		.userInUserList.yourself {
			padding-left: 1em;
			padding-right: 1em;
			padding-top: 3px;
			padding-bottom: 3px;
			font-size: 12px;
			font-weight: bold;
		}
		.windowtab {
    		display: inline-block;
    		height: 100%;
			background-color: #FFF;
			border-bottom: 1px solid gray;
			border-left: 1px solid black;
			border-right: 1px solid black;
			border-top: 1px solid gray;
			cursor: pointer;
			font-family: monospace;
			padding-left: 5px;
			padding-right: 5px;
			display: inline-block;
			text-align: center;
		}
		.windowtab.selected {
			color: #e00;
		}
		.tab-text {
			padding-right: 1em;
		}
		
		/* attention CSS animations */
		.windowtab.attention {
			-webkit-animation: flash 2s linear 0s infinite alternate; /* Chrome, Safari, Opera */
			animation: flash 2s linear 0s infinite alternate;
		}
		@-webkit-keyframes flash {
			0%   {background: #f88;}
			50%  {background: #8f8;}
			100%  {background: #88f;}
		}
		@keyframes flash {
			0%   {background: #f88;}
			50%  {background: #8f8;}
			100%  {background: #88f;}
		}
		/* end of CSS attention animation */

		.timestamp {
			background-color: #FFF;
			color: #888;
		}
		.user-highlight {
			background-color: #FFF;
			color: #f88;
			font-weight: bold;
		}
		.other-highlight {
			background-color: #FFF;
			color: #000;
			font-weight: bold;
		}
		.hidden {
			display: none;
		}
		#container {
			border: 0px;
			width: 80em;
			margin-top: 30px;
			margin: 0 auto;
			padding: 0 auto;
		}
		#welcome {
			background-color: #fff;
			padding: 3em;
		}
		.x-button {
			float:right;
		}
		.ircOption {
			padding: 3em auto;
		}
		#userinput {
			border: 1px solid black;
			font-family: monospace;
			font-size: 12px;
			width: 100%;
		}
		#windowselector {
		 	background-color: #999;
		 	border: 1px solid black;
		 	font-family: monospace;
		 	font-size: 14px;
		 	width: 100%;
		}