<!DOCTYPE HTML>
<html>
<!--
MEOOOWWW REMIND TO BLOCK YOUR LAPTOP
-->
<!-- 

	It is an ordinary web page, but you can also access a few of the servers
	variables from here. You can modify many of them from the mcxhub.conf file.

	FullName		string
	ShortName		string
	Software		string
	Version			string
	Quote			string
	IRCPort			int
	WebPort			int
	Host			string
	
	You access them by typing, for example {{.FullName}} to get the full domain
	name of the server (as configured in the mcxhub.conf file), {{.ShortName}}
	to get the servers name, and so on for all string variables.
	
	To access the integer (int's) variables, you would probably want to write
	something like {{printf "%d" .IRCPort}} or similar.
	
	The Host variable will depend on how the client connects to this web page.

-->
<head>
	<meta charset="UTF-8">
	<title>{{.ShortName}}</title>
	<style>
		p {
			margin-left:auto;
			margin-right:auto;
			text-align:left;
			width: 50em;
		}
	</style>
</head>
<body>
	<p>
		<center><img src="/fs/mcx.gif"/></center>
	</p>
	<p>
		Hub: <b>{{.ShortName}}</b><br>
		<i>{{.Quote}}</i><br>
		<br>
	</p>
	<p>
		<b>Services:</b><br>
        <b>*</b> <a href="webchat">webchat</a><br>
		<b>*</b> <a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a> - Connect to {{printf "%s:%d" .Host .IRCPort}} (tutorials: <a href="irssi">irssi</a>, <a href="weechat">weechat</a>)<br>
	</p>
	<p>
	This server is powered by <a href="http://bitbucket.org/kallevedin/mcxhub/">mcxhub</a>.
	</p>
</body>
</html>
