<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Irssi tutorial</title>
	<style>
		p {
			margin-left:auto;
			margin-right:auto;
			text-align:left;
			width: 30em;
		}
	</style>
</head>
<body>
	<p>
		<center><img src="/fs/mcx.gif"/></center>
	</p>
	<p>
		<b>Tutorial: How to connect to {{.ShortName}} using irssi.</b><br/>
		<br/>
	</p>
    	<p>First we need to install TOR, for Debian based systems:<br/>
	    <tt>$ sudo apt-get install tor</tt>
    </p>

    <p>
    	Then download and install irssi. On Debian, again:<br/>
	    <tt>$ sudo apt-get install irssi</tt>
    </p>

    <p>
    	Start irssi using the usewithttor command<br/>
	    <tt>$ usewithtor irssi</tt>
    </p>

    <p>
    	Then, connect to the server:<br/>
	    <tt>/connect {{.Host}}</tt><br/>
    	And maybe join some channels:<br/>
	    <tt>/j #telecomix,#mcx</tt><br/>
    </p>
		
	<p>
		DONE! &lt;3&lt;3&lt;3
	</p>
</body>
</html>
