<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>WeeChat tutorial</title>
	<style>
		p {
			margin-left:auto;
			margin-right:auto;
			text-align:left;
			width: 30em;
		}
	</style>
</head>
<body>
	<p>
		<center><img src="/fs/mcx.gif"/></center>
	</p>
	<p>
		<b>Tutorial: How to connect to {{.ShortName}} using WeeChat.</b><br/>
		<br>
	</p>
	<p>
		First we need to install TOR, for Debian based systems:<br/>
		<tt>$ sudo apt-get install tor</tt>
	</p>

	<p>
		Then download and install weechat. On debian, again:<br/>
		<tt>$ sudo apt-get install weechat</tt>
	</p>

	<p>
		When that is done, start weechat. It is maybe easiest to make the setup in the terminal, and not from the config files.
	</p>

	<p>
		In weechat you need to create a SOCKS5 proxy for TOR service (Hostname/IP and port depend on your TOR configuration, but <i>very likely</i> you can just copy-and-pase the following):<br/>
		<tt>/proxy add TOR socks5 127.0.0.1 9050</tt>
	</p>
 
	<p>
		Now, add a new IRC server.<br/>
		<tt>/server add {{.FullName}} {{.Host}}</tt><br>
	</p>
 
	<p>
		Set the proxy for that IRC server to using TOR:<br/>
		<tt>/set irc.server.{{.FullName}}.proxy "TOR"</tt>
	</p>

	<p>
		Save the settings so you do not have to type all this the next time:<br/>
		<tt>/save</tt>
	</p>

	<p>
		Then, connect to the server:<br/>
		<tt>/connect {{.FullName}}</tt><br/>
		And maybe join some channels:<br/>
		<tt>/j #mcx,#telecomix</tt><br/>
	</p>
		
	<p>
		DONE! &lt;3&lt;3&lt;3
	</p>
</body>
</html>
